x-common-env: &common-env
  HERO_HOSTNAME: ${HERO_HOSTNAME}
  HERO_HOST_PORT: ${HERO_HOST_PORT}
  HERO_HOST_IP: ${HERO_HOST_IP}

services:
  reverse-proxy:
    image: tvup/reverse-proxy:latest
    container_name: reverse-proxy
    volumes:
      - 'reverse-proxy-nginx-data:/etc/nginx/conf.d'
    environment:
      <<: *common-env
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - wakeforce
    networks:
      - internal

  wakeforce:
    image: tvup/wakeforce:latest
    container_name: wakeforce
    environment:
      <<: *common-env
      HERO_HOST_MAC: ${HERO_HOST_MAC}
      BROADCAST_IP: ${BROADCAST_IP}
      LICENSE_KEY: ${LICENSE_KEY}
      LICENSE_CACHE_TTL_SECONDS: "86400"
    restart: unless-stopped
    volumes:
      - wakeforce_license:/var/lib/wakeforce/license
    expose:
      - "8182"
    networks:
      internal: {}
      lan: {}
    cap_add:
      - NET_RAW


networks:
  internal:
    driver: bridge

  lan:
    driver: macvlan
    driver_opts:
      parent: ${LAN_INTERFACE}
    ipam:
      config:
        - subnet: 192.168.1.0/24
          gateway: 192.168.1.1

volumes:
  reverse-proxy-nginx-data:
    driver: local
  wakeforce_license:

